<h2>New Sunrise/Sunset</h2>
<div class="row">
	<div class="col-md-6">


		{{!-- 2. Instrucciones: además de lo habitual incluir el enctype --}}
		<form action="/sunsets/new" method="POST" enctype="multipart/form-data">

			<div class="form-group">
				<label>Name:
					<input type="text" name="name" class="form-control" />
				</label>
			</div>

			<div class="form-group">
				<label>Description:
					<textarea name="comment" cols="30" rows="4" class="form-control"> </textarea>
				</label>
			</div>

			<div class="form-group">
				<label>Street:
					<textarea name="street" cols="30" rows="4" class="form-control"> </textarea>
				</label>
			</div>

			<div class="form-group">
				<label>Number:
					<textarea name="number" cols="30" rows="4" class="form-control"> </textarea>
				</label>
			</div>

			<div class="form-group">
				<label>City:
					<textarea name="city" cols="30" rows="4" class="form-control"> </textarea>
				</label>
			</div>

			<div class="form-group">
				<label>Image:
					<input type="file" name="sun-image" class="form-control-file" />
				</label>
			</div>

			<button type="submit" class="btn btn-primary">Create</button>
		</form>