 <ul class="nav">
      <li class="nav-item">
         <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/logout">Log Out</a>
      </li>
   </ul>


<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<div>
	<a href="/suns/sunset/list"> Every Sunset!</a>
	<a href="/suns/sunset/new"> Create a Sunset!</a>
	<a href="/suns/sunrise/list"> Every Sunrise!</a>
	<a href="/suns/sunrise/new"> Create a Sunrise!</a>
	<a href="/users/{{user._id}}/edit-profile"> Edit your profile!</a>
	<a href="/users/{{user._id}}/profile"> Check your profile!</a>
	<p>hello {{user.username}}</p>
</div>

