 
<div class="container">


<h2 class="title">Suns</h2>
<img src="/images/sunset-oscuro.jpeg" class="image-index">

</div>


 
 <ul class="nav">
      <li class="nav-item">
         <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/logout">Log Out</a>
      </li>
   </ul>


<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<div>
   	<a href="/suns/sunset/list" class="btn first-btn"> Every Sunset!</a>
   <hr>
   	<a href="/suns/sunset/new" class="btn first-btn"> Create a Sunset!</a>
    <hr>
   	<a href="/suns/sunrise/list" class="btn first-btn"> Every Sunrise!</a>
    <hr>
   	<a href="/suns/sunrise/new" class="btn first-btn"> Create a Sunrise!</a>
    <hr>
   	<a href="/users/{{user._id}}/edit-profile" class="btn first-btn"> Edit your profile!</a>
    <hr>
   	<a href="/users/{{user._id}}/profile" class="btn first-btn"> Check your profile!</a>
    <hr>
   	<p>hello {{user.username}}</p>
</div>

