 <ul class="nav">
      <li class="nav-item">
         <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/logout">Log Out</a>
      </li>
   </ul>


<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<div>
	<a href="/suns/sunset/list"> Every Sunset!</a>
	<a href="/suns/sunrise/list"> Every Sunrise!</a>
</div>

