<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Suns</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.3.0/swiper-bundle.css"
      integrity="sha512-tVnZzPH4OE+QDAVOuxGk8avF2doeIK/DQcCqLiaOWPpyQWmXSbAdnW5Z80ZCk9dPuEgXfm7B1f6BggFw5zHtDA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
	{{#if currentUser}}
		<nav>
			<a class="logo" href="/"><img src="/images/sun-default.svg" alt="" width="30" height="24">Suns</a>
			<ul class="nav-bar">
				<li class="nav-bar_item"><a href="/">home</a></li>
				<li class="nav-bar_item"><a href="/users/{{currentUser}}/profile">your profile</a></li>
				<li class="nav-bar_item dropdown">
					<a href="#">suns</a>
					<ul class="project">
						<li class="drop-item"><a href="/suns/list/all">Every sun</a></li>
						<li class="drop-item"><a href="/suns/sunset/list">Sunsets</a></li>
						<li class="drop-item"><a href="/suns/sunrise/list">Sunrises</a></li>
						<li class="drop-item"><a href="/suns/sunset/new">Create Sunsets</a></li>
						<li class="drop-item"><a href="/suns/sunrise/new">Create Sunrises</a></li>
					</ul>
				</li>
				<li class="nav-bar_item"><a href="/logout">Log out</a></li>
			</ul>
		</nav>
	{{/if}}	



   {{{body}}}

   <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.3.0/swiper-bundle.min.js"
      integrity="sha512-5Zo75sFi47jEROGHPhhx+IUh77BJ3W8gweIYENZGMtfbey8rJ0MzYNRponea9NMM62mwaz+Ze8TE1T4iyuKShQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>

</html>