<div>
	<form action="#" method="post">
		<label for="username"></label>
		<input type="text" name="username" id="username">
		<label for="bio"></label>
		<input type="text-area" name="bio" id="bio">
	</form>
</div>