body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#map{
	width: 50%;
	height: 300px;
}


/* Heart */

.heart-wrapper{
	position: relative;
/* 	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 50px; */
	margin-bottom: 100px;
}

.favorite-button {
  cursor: pointer;
  border: 0;
  color: red;
}

.favorite-button .favorite__icon {
  height: 60px;
  width: 60px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(.6);
  position: absolute;
}

.favorite-button.is-favorite .favorite--enable {
  opacity: 1;
  transform: scale(1);
}

.favorite-button:not(.is-favorite) .favorite--not {
  opacity: 1;
  transform: scale(1);
}