body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ffa500;
}

button:hover {
  text-decoration: none;
  cursor: pointer;
}

*{
	  box-sizing: border-box;
}

h1{ 
  color: 15px;
}

/* p {
  text-align: center;
  font-size: 15px;
} */

#map{
	width: 50%;
	height: 300px;
  margin-left: 20px;
}

.hidden{
  display: none;
}

/* Heart */

.heart-wrapper{
	position: relative;
/* 	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 50px; */
	margin-bottom: 100px;
}

.favorite-button {
  cursor: pointer;
  border: 0;
  color: red;
}

.favorite-button .favorite__icon {
  height: 60px;
  width: 60px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(.6);
  position: absolute;
}

.favorite-button.is-favorite .favorite--enable {
  opacity: 1;
  transform: scale(1);
}

.favorite-button:not(.is-favorite) .favorite--not {
  opacity: 1;
  transform: scale(1);
}

.image-index {
  height: 100%;
  width: 100%;
}


.title{
  
  position: absolute;
  color: white;
  font-size: 70px;
  font-weight: bold;
  top: 50%;
  left: 35%;
  

}

.first-btn {
  /* position: absolute;
  left: 55%;
  top: 45%; */
  border-radius: 45%;
  border:1px solid ;
  padding: 15px 50px;
  text-align: center;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: orange;
}

.index {
  position: relative;
  /* background-image: url("../images/sunset-pajaros.jpeg"); */
}

.showcard {
  margin-top: 20%;

}

.list {
  font-size: large;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.details-sun {
  display: flex;
}

.img-detail {
  height: 300px;
  width: auto;

}
